*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}

#navbar{
    position: sticky;
    top:0;
    left:0;
    z-index: 100;
    padding:.5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background-color: white;
}
.navbar .navbar-brand{
    font-size:25px;
    font-weight:800;
    color:black!important;
}
#navbarSupportedContent a{
    color:black;
    border-bottom:2px solid transparent;
}
#navbarSupportedContent a:hover{
     border-bottom:2px solid #4600f7;
}
#navbarSupportedContent button{
    background-color: green;
    color:white;
    border-radius: 15px;
    width:5rem;
}